@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* body */

body {
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* body */

/* header */

.header-container {
    background-color: #1F2937;
    display: flex;
    padding: 30px 100px;
}

.header-logo-container {
    display: flex;
    flex: 1;
    gap: 10px;
}

.header-text {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    display: flex;
    justify-content: flex-start;
    align-items: center;    
}

.header-image {
    display: flex;
    align-items: center;
}

.header-links-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.header-links-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

.header-links-container a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}

/* header */

/* intro */

.intro-container {
    display: flex;
    padding: 60px 100px;
    background-color: #1F2937;
    gap: 20px;
    flex-wrap: wrap;
}

.intro-text-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.intro-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.intro-sub-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 5px;
}

.intro-button{
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-top: 15px;
    cursor: grab;
}

.intro-button:hover, .call-to-action-button:hover {
    color: #3882F6;
    background-color: white;
}

.intro-image-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.intro-image-container img {
    min-width: 250px;
}

/* intro */

/* information */

.information-container {
    display: flex;
    flex-direction: column;
    padding: 20px 100px;
    gap: 40px;
}

.information-header {
    display: flex;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    justify-content: center;
    align-items: center;
}

.information-image-container {
    display: flex;
    gap: 40px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image-box {
    height: 20px;
    height: 150px;
    width: 150px;
    border: 4px solid #3882F6;
    border-radius: 20px;
}

.image-box-text {
    color: #1F2937;
    font-size: 18px;
    height: 100px;
    width: 150px;
    text-align: center;
    margin-top: 4px;
}

/* information */

/* quote */

.quote-container {
    background-color: #e5e7eb;
    display: flex;
    padding: 20px 100px;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.quote-information-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    flex: 1;
}

.quote-speaker {
    font-size: 18px;
    font-weight: bold;
    color: #1F2937;
    display: flex;
    justify-content: flex-end;
    flex: none;
}

/* quote */

/* call to action */

.call-to-action-container {
    display: flex;
    padding: 20px 100px;
    justify-content: center;
    align-items: center;
    height: 300px;
    flex: auto;
}

.call-to-action {
    width: 600px;
    padding: 40px 75px;
    display: flex;
    background-color: #3882F6;
    border-radius: 5px;
    justify-content: center;
    align-items: center; gap: 100px;
}

.call-to-action-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.call-to-action-text-header {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.call-to-action-text-sub {
    color: #F9FAF8;
    font-size: 18px;
    font-weight: lighter;
}

.call-to-action-button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    width: 138px;
    height: 40px;
    border: 2px solid white;
    border-radius: 20px;
    cursor: grab;
}

/* call to action */

/* footer */



/* footer */